
body{font-family: 'Nanum Gothic', sans-serif;}
.res{display: none;}
.res.w{display: block;}
header{
    position: fixed;left: 0;top: 0;
    z-index: 9999;
    width:100%; height: 75px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(80,80,80,.5);
    border-top: #000 8px solid;
}
.center{
    margin: 0 auto;
    width: 1200px; height: 83px;
}
header>div>*{float: left;}
header>div>dl{float: right;}
header>div>h1{margin: 6px 0 0 0;}/* margin-top 강사님이라 차이있음(21px) */
/* 네비게이터 */
header>div>nav{
    margin-left: 60px;
    padding-top: 31px;
}
header>div>nav>ul{
    height: 52px;
}
header>div>nav>ul>li{
    position: relative;
    float: left;
    margin: 0 30px;
    height: 52px;
}
header>div>nav>ul>li>a{
    display: block;
    padding: 0 20px 12px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}
header>div>nav>ul>li>ul{
    display: none;
    position: absolute;
    left: -25px; top: 45px;
    width: 185px;
    background: #000;
}
header>div>nav>ul>li>ul>li{
    position: relative;
    margin: 0 1px;
    height: 43px;;
}
header>div>nav>ul>li>ul>li>a{
    display: block;
    padding-left: 21px;
    height: 43px;
    color: #fff;
    font-size: 14px; line-height: 43px;
}
header>div>nav>ul>li>ul>li.child{
    background: url(../../img/bu_2depth_on.png) no-repeat 165px 50%;
}
header>div>nav>ul>li>ul>li>ul{
    display: none;
    position: absolute;left: 183px; top: 0px;
    width: 188px;
    background: #fff;
}
header>div>nav>ul>li>ul>li>ul>li{
    height: 34px;
}
header>div>nav>ul>li>ul>li>ul>li>a{
    position: relative;
    margin-left: 19px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #000;
}
header>div>nav>ul>li>ul>li>ul>li>a::after{
    position: absolute;
    left: -10px;top: 50%;
    content: "";
    width: 4px;height: 0;border-top: 1px solid #000;
}
/* 이벤트 */

header>div>nav>ul>li:hover>a{
    border-bottom: 4px solid #000;
}
header>div>nav>ul>li:hover>ul{
    display: block;
}
header>div>nav>ul>li>ul>li:hover{
    background: #fff;
}
header>div>nav>ul>li>ul>li.child:hover{
    margin-right: 0;
    background: #fff url(../../img/bu_2depth_on.png)no-repeat 165px 50%;
}
header>div>nav>ul>li>ul>li:hover>a{
    color: #000;
}
header>div>nav>ul>li>ul>li:hover>ul{
    display: block; z-index: -1;
}
header>div>nav>ul>li>ul>li>ul>li:hover{
    background: #000;
}
header>div>nav>ul>li>ul>li>ul>li:hover>a{
    color: #fff;
}



#srchBox{position: relative;}
#srchBox>button{
    box-sizing: border-box;
    border: 0 none;
    margin-left: 70px; margin-top: 22px;
    padding: 0;
    border-radius: 6px;
    width: 91px; height: 36px;
    background: #000 url(../../img/ic_search.png)no-repeat 64px 7px;
    text-align: left;
    color: #fff;
    text-indent: 10px;
    letter-spacing: -1px; line-height: 36px;
    cursor: pointer;
}

.srchForm{
    display: none;
    position: absolute;
    right: -51px;top: 75px; /* right값은 강사님이랑 차이 있음(-48px) */
    width: 320px; height: 50px; background: #424c51;
}
.srchForm.active{
    display: block;
}
.srchForm>input[type="search"]{
    float: left; margin: 16px 0 0 20px; border: 0 none; outline: 0 none;
    width: 220px; height: 17px; background: #424c51; 
}
.srchForm>input[type="search"]::placeholder{
    color: #ebebeb;
}
.srchForm>input[type="image"]{
    float: left; margin: 13px 0 0 6px; border: 0 none;
}
.srchClose{
    position: relative;
    float: right;
    margin: 18px 13px 0 0;
    cursor: pointer;
}
.srchClose::after{
    position: absolute; left: -13px; top: -8px;
    content: "";
    width: 0; height: 30px; border-left: 1px solid #858f9a;
}


header>div.center>div#lang{
    position: relative;
    overflow: hidden;
    float: right;
    margin-top: 22px;
    border: 1px solid #a9b0b8;
    border-radius: 6px;
    width: 44px; height: 34px;
    text-align: center;
    font-size: 11px; line-height: 34px;/* letter-spacing: -1px; */
    background: url(../../img/country_off.png) no-repeat 50% 90%;
}
header>div.center>div#lang.on{
    background: url(../../img/country_on.png)no-repeat 50% 90%;
}
header>div.center>div#lang>dl{
    position: absolute;
    width: 44px; left: -1px; top: -1px;
    border-radius: 6px 6px 0 0;
    
    border-bottom: 0 none;
}
header>div.center>div#lang>dl>dd:first-of-type{
    border-radius: 6px 6px 0 0;
}
header>div.center>div#lang>dl>dd{
    height: 34px;
    border-bottom: 1px solid #a9b0b8;
    background: #fff;
}
/* border-bottom주지말고, 언어선택창 클릭시 2,3번째 dd는 
   absolute로 첫번째 dd를 2px정도 덮으며 띄울 수 있게 해야될 듯 */
header>div.center>div#lang>dl>dd.on{
    font-weight: bold;
    background: none;
}