main{background: #000;}
main>aside{
    margin-top: 83px;
    height: 481px;
    text-align: center;
    font-size: 0; line-height: 0;
}
main>aside>video{
    width: 1200px;
    height: 481px;
}
main>div{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.theme{
    margin: 50px 0;
}
.theme>ul{
    display: flex;
    justify-content: space-between;
}
.theme>ul>li{
    overflow: hidden;
    flex: 0 0 294px;
}
.theme>ul>li>a{
    position: relative;
    display: block;
    width: 294px;
}
.theme>ul>li>a>img{
    width: 294px;
    vertical-align: top;
    transition: all .5s ease;
}
.theme>ul.themeList>li>a>img:nth-child(2){
    bottom: 0; right: 0; opacity: 0;
    transition: all .5s ease;
}
.theme>ul>li>a>img:not(:first-child){
    position: absolute;
    right: 0; bottom: 0;
}
/* 이벤트 */
.theme>ul>li:hover>a>img{
    opacity: 0;
}
.theme>ul>li:hover>a>img:nth-child(2){
    opacity: 1;
}


/* contents */
div.contents{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.contents>section{
    flex: 0 1 auto; width: calc(50% - 20px);
    border-top: 2px solid #fff;
}
div.contents>section:nth-child(1),
div.contents>section:nth-child(2){
    height: 430px;
}
div.contents>section>a{
    display: block;
}
div.contents>section>a>div{
    margin: 20px 20px;
    background: #000;
}
div.contents>section>a>div>h1{
    font: 22px/27px "Malgun Gothic", sans-serif;
    font-weight: bold;
    color: #fff;
    background: url(../../img/img_menu_more02.png)no-repeat 99% 50%;
}
div.contents>section>a>div>p.txt{
    font: 16px/40px "Malgun Gothic", sans-serif;
    letter-spacing: -1px;
    color: #fff;
}
div.contents>section>a>p.pic{
    margin-top: 35px;
}
div.contents>section>a>p.pic>img{
    vertical-align: top;
    width: 100%;
}


/* main sub */
section.etc{
    margin-top: 100px;
    padding-bottom:100px;}
section.etc>ul{
    display: flex;
    justify-content: space-between;
}
section.etc>ul>li{
    flex: 0 0 384px; 
    width: 384px;
    height: 97px;
}
section.etc>ul>li:nth-child(2){
    width: 385px;
}
section.etc>ul>li>a{
    display: flex; align-items: center;
    height: 97px;
    color: #a1a1a1;
    background: rgb(255, 255, 255, 0.2);
}
section.etc>ul>li>a>span{
    margin: 0 40px;
    width: 230px;
}

p.dirTop{
    position: absolute;z-index: 9999;bottom: 20px;right: 0;
    width: 50px; height: 50px;
}